@model int

@{
    ViewBag.Title = "Compra finalizada";
}

<h2>Compra finalizada</h2>

<p>Obrigado pela compra! O numero da sua ordem é: @Model</p>

<p>    
    @Html.ActionLink("store", "Index", "Home")
</p>
