@model IEnumerable<TripSystem.Models.Genero>

<ul id="categories">
    @foreach (var genre in Model)
    {
        <li>@Html.ActionLink(genre.Nome,
                "Browse", "Store",
                new { Genre = genre.Nome }, null)
        </li>
    }
</ul>