@section Styles {
    <link href="@Url.Content("~/Content/Store.css")" rel="stylesheet" type="text/css" />
}
@Scripts.Render("~/Scripts/store.js")

@model IEnumerable<TripSystem.Models.Genero>
@{
    ViewBag.Title = "Loja";
}
<h3>Categorias</h3>

<p class="category-title">Selecione a categoria da excursão:</p>
<ul class="category-list">
    @foreach (var genre in Model)
    {
        <li>@Html.ActionLink(genre.Nome, "Browse", new { genre = genre.Nome })</li>
    }
</ul>

<div id="layout-fix"></div>
<div id="list-trips"></div>
