@section Styles {
    <link href="@Url.Content("~/Content/Contact.css")" rel="stylesheet" type="text/css" />
}

@model TripSystem.Models.Contato
@{
    ViewBag.Title = "Converse conosco. Deixe sua mensagem.";

}

<hgroup class="title">
    <h3 class="page_title">@ViewBag.Title</h3>
</hgroup>

<p style="padding:30px" />

<table>
    <tr>
        <td>
            <section class="contact">
                @Html.Partial("~/Views/Contato/Create.cshtml")
            </section>
        </td>
        <td>
            <header>
                <h3>Telefone</h3>
            </header>
            <p>
                <span class="label">Principal:</span>
                <span>(041) 8821-7270</span>
            </p>

            <header>
                <h3>Email</h3>
            </header>

            <p>
                <span class="label">Suporte:</span>
                <span><a href="mailto:suporte@tripsystem.com.br">suporte@tripsystem.com.br</a></span>
            </p>

            <p>
                <span class="label">Marketing:</span>
                <span><a href="mailto:marketing@tripsystem.com.br">marketing@tripsystem.com.br</a></span>
            </p>

            <header>
                <h3>Endereço</h3>
            </header>

            <p>
                Rua Sergio Navarro n° 65<br />
                Curitiba, Paraná
            </p>
        </td>
    </tr>
</table>